<div class="row"></div>
<h1 class="col-md-10">{{$ctrl.title}} </h1>
<h3 class="col-md-12">Service Details</h3>

<form ng-submit="$ctrl.addService()" >

  <div class="form-row" >
    <div class="form-group col-md-5">
      <label for="serviceName" class="control-label">Service name</label>
      <input type="text" class="form-control" id="serviceName" placeholder="Service name" ng-model="$ctrl.service.name">
    </div>
    <div class="form-group col-md-5">
      <label for="inputPassword4">Service Duration</label>
<input type="text" class="form-control" id="serviceDuration" placeholder="Service duration" ng-model="$ctrl.service.duration">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-5">
      <label for="description">Service description</label>
      <br>
    <textarea name="description" id="descriptionService" cols="40" rows="10" ng-model="$ctrl.service.description"></textarea>
    </div>
    <div class="form-group col-md-5">
      <label for="spaces">Availability</label>
<input class="form-control" type="date" id="availability" name="availability" ng-model="$ctrl.service.availability">
    </div>
    <div class="form-group col-md-5">
      <label for="spaces">Spaces</label>
      <input class="form-control" type="text"  id="spaces" name="spaces" ng-model="$ctrl.service.spaces">
    </div>
    <div class="form-group col-md-5">
      <label for="price">Price</label>
      <input type="text" class="form-control" id="price" ng-model="$ctrl.service.price">
    </div>
  </div>

<button type="submit" class="btn btn-primary">
  <i class="fa fa-plus "></i>Add service</button>
</form>
