<div id="recover" class="jumbotron">
  <h1> {{ $ctrl.title }}</h1>
  <form novalidate name="recoverForm" class="form-horizontal" ng-submit="$ctrl.recover($event)">
    

    <div class=" form-group form-group-lg" ng-class="{'has-error':recoverForm.email.$touched && recoverForm.email.$invalid}">

      <label class="control-label" for="">Email </label>

      <input id="recoverEmail" name="email" placeholder="Your email " class="form-control" type="email" ng-model="$ctrl.user.email"
        ng-required="true" #name>



      <div ng-show="recoverForm.email.$touched && recoverForm.email.$invalid  ">
        <small class="alert">Enter a valid email</small>
      </div>

    </div>
<button class="btn btn-primary btn-lg btn-block " ng-disabled="!$ctrl.user.email " ng-click="show= true">Recover</button>
  </form>
  <form  ng-if="show">
    <p>Your name for this account is: {{$ctrl.recoverUser[0].name}}</p>
<label class="control-label" for="">Your new password </label>
<input type="text" id="reset" class="form-control" ng-model="$ctrl.newPassword" placeholder="Please insert your new password here!">
<label class="control-label" for="">Confirm password </label>
<input type="text" id="reset2" class="form-control" ng-model="$ctrl.confirmNewPassword" placeholder="Please insert your new password again to confirm!">

<br>
<button type="submit" class="btn btn-primary" ng-click=" $ctrl.reset(); showLogin = $ctrl.log ">Reset your password</button>

<br>
<a class="btn btn-primary" href="#/login" ng-show="showLogin" >Go to Login</button>
  </form>
</div>
