<h3>Person List</h3>
<ul>
  <li ng-repeat="person in $ctrl.personList">
    <p>First Name: {{ person.firstName }}</p>
    <p>Last Name: {{ person.lastName }}</p>
    <p>Age: {{ person.age }}</p>
    <p> {{ person.address.city }}</p>
    <p> {{ person.address.state }} </p>

    <p ng-repeat="street in $ctrl.street"> {{ street.name }} </p>
    <span> {{ street.number }} </span>
    <span> {{ street.code }} </span>

    <button ng-click="$ctrl.deletePerson(person)">delete</button>

    <a ng-href="#/people/{{person.id}}">Person details</a>
  </li>
</ul>




<h3>Companies</h3>
<ul>
  <li ng-repeat="company in $ctrl.companies">
    <p>Company name: {{ company.name }}</p>
    <button ng-click="$ctrl.deletePerson(person)">delete</button>
  </li>
</ul>
