

.logo{
    width: 250px;
    height: 240px;
    margin-right: 50px;
}
.logo img{
    width: 200px;
    height: 200px;
}


.company h1{
    color: #D8A6EC;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#card {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    width: 900px;
}

#card-header {
    background-color: #7B90E0;
    padding: 10px;
    color: #fff;
    font-size: 34;
    width: 900px;
}

h1 span i {
    color: #fff;
    letter-spacing: 25px;
}

#card-body {
    margin-left: 40px;
    padding: 30px;
    font-size: 18px;
    /* text-align: center; */
}

#card-body p {
    margin: auto;
}

#info {
    width: 850px;
    margin-left: 50px;
}
#bookingBtn{
    margin-bottom: 20px;
    padding: 5px;
    height: 60px;
    color: #fff;
    background-color: #d8a6ec;
    font-size: 22px;
    text-transform: uppercase;
}
.modal-1200 {
    width: 1200px;
    margin: 150px auto;
}
.modal-dialog h1{
    color: #d8a6ec;
}
.modal-dialog p {
    color: #A6A6A6;
    font-size: 20px;
}
.modal-dialog form input {
    width: 420px !important;
   height: 60px !important;
  
}
#nextBtn, #back, #sendBooking, #close{
    height: 60px;
    width: 420px;
    color: #fff;
    background: #d8a6ec;
    border: none;
    margin: 30px;
    font-size: 30px;
}