<h3>Person add</h3>

<form ng-submit="$ctrl.onSubmit()" class="container">

  <div class="form-group">
    <label for="firstName">First Name</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      ng-model="$ctrl.person.firstName">
  </div>

  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input
      type="text"
      class="form-control"
      id="lastName"
      ng-model="$ctrl.person.lastName">
  </div>

  <div class="form-group">
    <label for="age">Age</label>
    <input
      type="number"
      class="form-control"
      id="age"
      ng-model="$ctrl.person.age">
  </div>

  <button type="submit" class="btn btn-default">Add person</button>

</form>
