<div class="jumbotron">
  <h2> {{ $ctrl.componentName }}</h2>
  <form name="loginForm" novalidate class="form-horizontal" ng-submit="$ctrl.onSubmit($event)">

    <div class=" form-group form-group-lg" ng-class="{'has-error':loginForm.email.$touched && loginForm.email.$invalid}">

      <label class="control-label" for="">Email </label>

      <input id="email" name="email" placeholder="Your email " class="form-control  " type="email" ng-model="$ctrl.admin.email"
        ng-required="true" #name>



      <div ng-show="loginForm.email.$touched && loginForm.email.$invalid  ">
        <small style="color:red; display:block; text-align:center;">Enter a valid email</small>
      </div>
      {{email.className}}
      <label class="control-label" for="">Password </label>

      <input id="password" name="password" placeholder="Your password" class="form-control " type="password" ng-model="$ctrl.admin.password"
        ng-required="true">

      <div ng-show="(loginForm.password.$touched && loginForm.password.$invalid)  || (loginForm.password.$invalid && loginForm.password.$submitted)">
        <small class="admin-login-error">Enter a password, please!</small>
      </div>

    </div>
    <!-- <h4>Your email is: {{$ctrl.admin.email}}</h4>
    <h4>Your password is: {{$ctrl.admin.password}}</h4> -->
    <button class="btn btn-primary btn-lg btn-block ">Login</button>
  </form>


</div>
