<div>
  <h3> {{ $ctrl.name }}</h3>

  <div class="row">
    <button class=" btn btn-link pull-left round col-lg-offset-1 col-lg-2">
      <i class="fa fa-chevron-left"></i>
      <br>
      <span>Perv. Week</span>
    </button>
    <p class="lead cal col-lg-offset-2 col-lg-2"> {{$ctrl.month}}</p>
    <button class=" btn btn-link pull-right round  col-lg-2 col-lg-offset-2">
      <i class="fa fa-chevron-right"></i>
      <br>
      <span>Next Week</span>
    </button>
    </p>
  </div>



  <table class="table table-hover " ng-repeat="day in $ctrl.date ">



    <tbody ng-if="day.list.length">

      <td>
         {{ day.dayName }}
      </td>
      <tr ng-repeat="booking in day">
        <td>{{ booking[0].name }} </td>
        <td>{{ booking[0].email }} </td>
        <td>{{ booking[0].phoneNumber }} </td>
        <td>{{ booking[0].date | date : "hh:mm" }} </td>
        <td>{{$ctrl.serviceName}}</td>
      </tr>


    </tbody>
  </table>
</div>

<!-- <h2>BOOKINGS </h2>
<div ng-repeat="day in $ctrl.date">

  <div ng-if="day.list.length">
    <h2>
      DAY: {{ day.dayName }}
    </h2>
    <ul ng-repeat="booking in day">
      <li>
        {{ booking[0].name }} {{ booking[0].email }}
      </li>
    </ul>
  </div> 

</div> -->
