<ul>
  <li>
    First Name: {{ $ctrl.person.firstName }}
  </li>

  <li>
    Last Name: {{ $ctrl.person.lastName }}
  </li>

  <li>
    Age: {{ $ctrl.person.age }}
  </li>

</ul>

<form ng-submit="$ctrl.edit()" class="container">

  <!-- <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" id="firstName" ng-model="$ctrl.person.firstName">
  </div>

  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" class="form-control" id="lastName" ng-model="$ctrl.person.lastName">
  </div>

  <div class="form-group">
    <label for="age">Age</label>
    <input type="number" class="form-control" id="age" ng-model="$ctrl.person.age">
  </div> -->
  <!-- <div class="form-group">
    <label for="Address">Address Street</label>
    <input type="text" class="form-control" id="street" ng-model="$ctrl.person.address.street">
  </div> -->
  <div class="form-group">
    <label for="Address">Address City</label>
    <input type="text" class="form-control" id="city" ng-model="$ctrl.person.address.city">
  </div>
  <div class="form-group">
    <label for="Address">Address State</label>
    <input type="text" class="form-control" id="state" ng-model="$ctrl.person.address.state">
  </div>
  <div class="form-group">
    <label for="Address">Address Street Name</label>
    <input type="text" class="form-control" id="streetName" ng-model="$ctrl.street.name">
  </div>
  <div class="form-group">
    <label for="Address">Address Street Number</label>
    <input type="text" class="form-control" id="streetNumber" ng-model="$ctrl.street.number">
  </div>
  <div class="form-group">
    <label for="Address">Address Street code</label>
    <input type="text" class="form-control" id="state" ng-model="$ctrl.street.code">
  </div>

<button type="submit" class="btn btn-default">
  Edit Person Details
</button>

</form>
